# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# PyInstaller
*.spec

# JSON output
demo_output.json
demos/*.json

# IDEs
.idea/
*.swp

# Misc
.env
.DS_Store
demos/*.json

# Demos
demos/

gazelle_artifacts/
