/* ------ upload.tcss ------ */

/* Theme Colors */
$accent: rgb(6, 100, 160);
$accent-dark: rgb(2, 50, 80);
$accent-light: rgb(220, 240, 255);
$text: rgb(220, 220, 220);
$text-muted: rgb(150, 150, 150);
$background: rgb(15, 15, 20);
$button-bg: rgb(45, 55, 80);
$button-text: rgb(230, 230, 230);
$button-text-focus: rgb(255, 255, 255);
$button-disabled-bg: rgb(40, 40, 50);
$button-disabled-text: rgb(90, 90, 120);

Screen {
  background: $background;
}

/* Main upload form container */
#upload_form {
  width: 60%;
  max-width: 80;
  height: auto;
  align: center middle;
  background: $background;
  border: round $accent;
  padding: 2 4;
  color: $text;
}

/* Upload title styling */
#upload_form > .Static:first-child {
  content-align: center middle;
  text-style: bold;
  margin-bottom: 1;
  border: tall $accent;
  background: $accent-dark;
  color: $accent-light;
  height: 3;
}

/* Labels and inputs */
#upload_form > .Static {
  color: $text-muted;
  margin-bottom: 0;
  margin-top: 1;
}
#upload_form Input {
  background: $button-bg;
  border: round $accent;
  color: $text;
  margin-bottom: 1;
}
#upload_form Input:focus {
  border: heavy $accent;
  background: $accent-dark;
  color: $accent-light;
}

/* Upload status 
#upload_status {
  text-align: center;
  margin-top: 1;
  margin-bottom: 1;
  color: $accent-light;
  background: #1e252f;
  border: ascii $accent;
  padding: 1 1;
}*/

/* Buttons */
#upload_form Button {
  width: 100%;
  margin-top: 1;
  background: $button-bg;
  color: $button-text;
  border: round $accent;
  text-style: bold;
}
#upload_form Button:focus {
  background: $accent;
  color: $button-text-focus;
  border: heavy $accent;
}
#upload_form Button:disabled {
  background: $button-disabled-bg;
  color: $button-disabled-text;
  border: round $accent-dark;
}

/* Cancel button override */
#upload_form #cancel_upload {
  background: #7a3a3a;
  border: solid #9a4a4a;
  color: $button-text;
}
#upload_form #cancel_upload:hover {
  background: #a04040;
  border: solid #a04040;
  color: $button-text-focus;
}

/* Misc */
Footer {
  height: 1;
}
